<header>
  <nav
    class="navbar navbar-expand-lg justify-content-start w-100"
    style="margin-bottom: 0px;"
  >
    <div class="d-flex h-100">
      <a class="navbar-brand logo-link" href="/">
        <img
          id="headerLogo"
          src="/images/white-transparent-logo.png"
          alt="DDJS Logo"
          class="img-fluid"
        /></a>
      <img
        id="headerLogo"
        src="/images/ddjs-white-transparent.png"
        alt="DDJS Logo"
        class="img-fluid"
      />
    </div>

  </nav>
</header>