<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="DJ Services in the Denver, CO Area" />
    <title>Denver DJ Services</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    {{! <link rel="icon" href="/images/favicon.ico" /> }}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script
      src="https://kit.fontawesome.com/5c22034e45.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />

  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg" style="margin-bottom: 0px;">
        <div class="d-flex h-100">
          <a class="navbar-brand logo-link" href="/">
            <img
              id="headerLogo"
              src="/images/white-transparent-logo.png"
              alt="DDJS Logo"
              class="img-fluid"
            /></a>
          <img
            id="headerLogo"
            src="/images/ddjs-white-transparent.png"
            alt="DDJS Logo"
            class="img-fluid"
          />
        </div>
        <div>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav nav-ops align-items-center">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/services">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/reviews">Reviews</a>
              </li>
              <li class="nav-item">
                <a class="nav-link clientLogin">Client Login</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    {{{body}}}
    <!-- Login Modal -->
    <div id="loginModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content" style="width:400px;">
        <span class="close">&times;</span>
        <h3>Client Login</h3>
        <form id="loginForm">
          {{! EMAIL }}
          <div class="mb-3">
            <label for="loginInputEmail" class="form-label">Email address</label>
            <input
              type="email"
              class="form-control w-100"
              id="loginInputEmail"
              aria-describedby="emailHelp"
              required
            />
          </div>
          {{! PASSWORD }}
          <div class="mb-3">
            <label for="loginInputPassword" class="form-label">Password</label>
            <input
              type="password"
              class="form-control w-100"
              id="loginInputPassword"
            />
          </div>

          <button
            id="clientLoginBtn"
            type="submit"
            class="btn btn-primary"
          >Login</button>
        </form>
      </div>
    </div>
    <footer>
      <div
        id="footer-container"
        class="d-flex justify-content-between align-items-center p-2"
      >
        <div class="d-flex socials">
          <!-- Facebook -->
          <a
            href="https://instagram.com/denverdjservices"
            target="_blank"
            class="m-1"
          >
            <i class="fab fa-facebook-f fa-2x" style="color: #3b5998;">
            </i>
          </a>

          {{! <!-- Twitter -->
          <i class="fab fa-twitter fa-2x" style="color: #4387bb;">
          </i> }}

          <!-- Google -->
          <a
            href="https://goo.gl/maps/Us3HXnL8M55DXVaj8"
            target="_blank"
            class="m-1"
          >
            <i class="fab fa-google fa-2x" style="color: #dd4b39;">
            </i>
          </a>

          <!-- Instagram -->
          <a
            href="https://instagram.com/denverdjservices"
            target="_blank"
            class="m-1"
          >
            <i class="fab fa-instagram fa-2x" style="color: #ac2bac;">
            </i>
          </a>
        </div>
        <div class="text-center">
          Copyright &copy; 2023 Denver DJ Services - All Rights Reserved
        </div>
        <div>
          <ul class="footer-links list-unstyled text-center">
            <li>
              <a href="/" class="text-reset text-decoration-none">Home
              </a>
            </li>
            <li>
              <a
                href="/services"
                class="text-reset text-decoration-none"
              >Services</a>
            </li>
            <li>
              <a href="/about" class="text-reset text-decoration-none">About</a>
            </li>
            <li>
              <a
                href="/contact"
                class="text-reset text-decoration-none"
              >Contact</a>
            </li>
            <li>
              <a
                href="/reviews"
                class="text-reset text-decoration-none"
              >Reviews</a>
            </li>
            <li>
              <a class="clientLogin text-reset text-decoration-none">Client
                Login</a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
    <script src="/js/clientLogin.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"
    ></script>
  </body>
</html>