<main>
  <h1 class="text-center">About</h1>

  <div class="aboutContainer">
    <h4 class="aboutParagraph text-center">Founded by Bobby Simpson AKA SWEVEN
      in 2023, Denver DJ Services is dedicated to providing those in the Denver
      area with the most magical experience you've ever had with a professional
      DJ. Although we may be a newer business, our DJs are not new to this
      whatsoever, all having a minimum of 7 years experience as professional
      DJs. We strive to provide our clients with a top-notch, customizable
      experience tailored to your needs. We understand that not all weddings are
      the same, or you may want to do something out of the ordinary for your
      company party. Whatever your needs are, we do our best to accommadate.
      Some of our DJs are professional music producers and have been able to
      provide clients with custom tracks for events. Let's say you want a mashup
      of 5 songs for a father-daughter dance, we can do it! This is more than
      just a job for our DJs, it is their passion and they want you to have
      nothing but the best possible service. We look forward to working with you
      and cannot wait to hear about the details of your special day!
    </h4>
    <img
      class="img-fluid bobbyPic"
      src="/images/bobby.jpg"
      alt="Owner and Founder Bobby Simpson"
    />
  </div>
</main>