{{> header}}
<main class="payment-main">
  <!-- Display a payment form -->
  <form id="payment-form">
    <div id="link-authentication-element">
      <!--Stripe.js injects the Link Authentication Element-->
    </div>
    <div id="payment-element">
      <!--Stripe.js injects the Payment Element-->
    </div>
    <button id="submit" class="payment-button">
      <div class="spinner hidden" id="spinner"></div>
      <span id="button-text">Pay now</span>
    </button>
    <div id="payment-message" class="hidden"></div>
  </form>
</main>

<script src="https://js.stripe.com/v3/"></script>
<script src="/js/clientPortal/checkout.js" defer></script>