:root {
  /* --light: #fbf8f1;
  --light2: #f7ecde;
  --dark: #e9dac1;
  --gold: #bdb21c;
  --accent: #54bab9; */
  --light: #e384ff;
  --light2: #515151;
  --dark: #191825;
  --gold: #bdb21c;
  --accent: #7e53ff;
}

.navbar {
  background-color: var(--accent);
  border-radius: 0px;
  text-align: center;
  height: 80px;
}
.nav-link,
.nav-item {
  color: #fbf8f1;
  font-size: large;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  text-decoration: none;
}

a:hover,
a:focus,
.nav-link:hover,
.nav-link:focus {
  transition: all 0.2s ease-in-out;
}

a:hover,
a:focus,
.nav-link:hover,
.nav-link:focus {
  transform: scale(1.2);
  /* color: #54bab9; */
  color: white;
  text-decoration: none;
  text-shadow: var(--light) 2px 2px 10px;
}

body {
  background: var(--dark);
  color: white;
  font-family: "Philosopher", sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
}

header {
  margin-bottom: 0px;
  border-bottom: var(--light2) double 3px;
}

main {
  margin-top: 0px;
}
footer {
  background: var(--accent);
  color: #fbf8f1;
  border-top: var(--light2) double 3px;
}
footer-link {
  color: white;
}

#headerLogo {
  text-align: center;
  transition: all 0.7s ease;
  margin-left: 1%;
  padding: 1%;
  height: 100%;
}
.logo-link {
  height: 100%;
}

#imageContainer {
  width: 100%;
  margin-top: 0px;
  color: var(--light);
  color: white;
  font-size: x-large;
  justify-content: center;
  text-align: center;
  text-shadow: rgb(96, 96, 96) 2px 2px 5px;
}

.carouselImage {
  width: 100%;
  margin: 0px;
  opacity: 0.9;
}

.centered {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(116, 116, 116, 0.768);
  width: 90%;
  border-top: solid var(--accent) 4px;
  border-bottom: solid var(--accent) 4px;
  border-radius: 70%;
  padding: 5%;
  font-size: 2rem;
}

#contactForm {
  padding: 2%;
  background-color: var(--light2);
  border: var(--accent) solid 1px;
  border-radius: 15px;
}

.form-text {
  color: rgba(255, 255, 255, 0.726);
}
/* 
 */

/* The Modal (background) */
.loginModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: var(--dark);
  max-height: 80vh;
  overflow-y: auto;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid var(--accent);
  border-radius: 5%;
  width: 90%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #ffffff;

  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--light);
  text-decoration: none;
  cursor: pointer;
}
.close2 {
  color: #ffffff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close2:hover,
.close2:focus {
  color: var(--light);
  text-decoration: none;
  cursor: pointer;
}

/* SERVICES PAGE*/
.servicesMain {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 3%;
}
.servicesContainer {
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}
.servicesCards {
  justify-content: center;
  width: 100%;
}

.servicesDescription {
  width: 70%;
  text-align: center;
  justify-content: center;
}

.card {
  background-color: var(--light2);
  border-color: var(--accent);
  border-radius: 2%;
  border-width: 2%;
  width: 45%;
}

/* The Modal (background) */
.inquiryModal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1; /* Sit on top */
  left: 0;
  top: -100px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

/* ABOUT PAGE */
.aboutContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.aboutParagraph {
  font-size: 2rem;
  line-height: 3rem;
}

.about-paragraphs {
  width: 60%;
}

.bobbyPic {
  max-width: 30%;
  border-radius: 200px;
  border: var(--accent) solid 1px;
}

.btn {
  background-color: var(--accent);
  border: solid white 1px;
  transition: ease-in-out 0.2s;
}

.btn:hover {
  background-color: var(--accent);
  border: solid white 1px;
  transform: scale(1.2);
  text-shadow: none;
}
.form-control {
  width: 60%;
}

.clientLogin:hover {
  cursor: pointer;
}

/* ADMIN */
/* Inquiries */
#inquiryCards {
  display: flex;
  flex-wrap: wrap;
}
.inquiryCard {
  background-color: var(--light2);
  border: solid var(--accent) 1px;
  border-radius: 10px;
  margin: 1%;
  padding: 2%;
}

@media screen and (max-width: 780px) {
  .servicesCards {
    flex-direction: column;
    align-items: center;
  }

  .aboutContainer {
    flex-direction: column-reverse;
  }

  .aboutParagraph {
    width: 80%;
    font-size: 2rem;
    line-height: 2rem;
  }
  .about-paragraphs {
    width: 100%;
  }
  .bobbyPic {
    max-width: 40%;
  }
  .centered {
    top: 37%;
    font-size: 1.5rem;
    padding: 7%;
  }
  .card {
    width: 100%;
  }
  .form-control {
    width: 100%;
  }
  .footer-container {
    width: fit-content;
    flex-direction: column;
  }
  .socials {
    flex-direction: column;
  }
}
